body {
  margin: 0;
  height: 100vh;
  background-image: url("https://i.redd.it/42m1mygghpn61.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  overflow: hidden;
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 0;
}


.app-container {
  position: relative;
  z-index: 2;
  background: rgba(20, 20, 20, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 40px;
  width: 400px;
  max-height: 80vh;     
  overflow-y: auto;     
  text-align: center;
}
